:root {
    font-family: Arial, Helvetica, sans-serif;
    --default-radius: 25px;
    --card-default-radius: calc(var(--default-radius) + 15px);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/denim.png);
    width: 100%;

    position: relative;

    &::-webkit-scrollbar {
        display: none;
    }
}

#top {
    position: sticky;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;

    background-image: url(assets/background.jpg);
    background-size: cover;

    & img {
        width: 50%;
        animation-name: title-open;
        animation-duration: 2s;
    }

    & .underline {
        animation-name: underline-open;
        animation-duration: 2s;
        width: 30%;
        height: 7px;
        border-radius: 7px;
        background-color: #000;
        transform: translate(0, -40px);
        position: absolute
    }

    & h2 {
        color: #ddd;
        padding: 15px;
        background-color: #666666aa;
        border-radius: 50px;
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 100px;

}

section {
    margin-top: 100px;
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;
    text-align: center;

    border-radius: var(--card-default-radius);
    background-color: #e9e9e9;

    position: relative;

    & div.content {
        width: 100%; height: 100%;
        
        display: flex;
        flex-direction: row;
    }

    & .circle {
        width: 100px; height: 100px;
        border-radius: 100%;

        background-color: #e9e9e9;
        
        position: absolute;
        left: calc(50% - 50px);
    }
    
    &.no-sub-subtitle {

        & .content {
            display: flex;
            justify-content: center; align-items: center;
            & h2 {
                width: 50%;
                font-size: 38px;
                text-decoration: underline;
            }
        }
    }

    &.with-sub-subtitle {

        .content{

            & div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;

                & h2 {
                    width: 50%;
                    font-size: 38px;
                    text-decoration: underline;
                }

                & h3 {
                    font-size: 18px;
                    color: #555;
                    text-align: justify;
                    margin: 0 100px;
                }
            }
        }
        
    }   

    & img {
        width: 50%;
        height: auto;
        border-radius: 0 var(--card-default-radius) var(--card-default-radius) 0;
    }
    

}

@keyframes title-open {
    0% {
        opacity: 0;
        transform: translate(0, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
    
}

@keyframes underline-open {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}
